.text-content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  background-color: #f8c4a9;
  background-image: linear-gradient(62deg, #f8c4a9 0%, #fae1a4 91%);
}

li {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: -15px;
}

.place-container {
  border: 1px solid grey;
  width: 400px;
  background-color: rgb(197, 235, 197);
  margin-top: 20px;
}

.submit {
  background-color: rgb(197, 235, 197);
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
  width: 150px;
  padding: 5px;
  background-color: rgb(228 231 232);
  margin-top: 10px;
}

.form-element-toolbar {
  margin: 10px;
}

.form-element-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.form-element-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 8px 8px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  margin: 2px;
  margin-bottom: 2px;
  border-radius: 30px;
}

.form-element-toolbar label:hover {
  background-color: rgb(219, 246, 248);
}

.form-element-toolbar input[type="radio"]:checked + label {
  background-color: rgb(144, 214, 226);
  border-color: #287ec7;
}

.form-element-toolbar input[type="checkbox"]:checked + label {
  background-color: rgb(144, 214, 226);
  border-color: #287ec7;
}

.error-text {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
  margin: 0 auto;
}

#location-form,
#map-error-container {
  margin-left: 50px;
}

.form-button {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgb(144, 214, 226);
  width: 400px;
  height: 70px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  background-size: 100% 100%;
  margin-bottom: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.form-button:hover {
  background-color: rgb(78, 136, 243);
}

#results-content {
  float: left;
  width: 80%;
}

#results-map-container {
  border: thin solid black;
  height: 300px;
  width: 100%;
  margin-top: auto;
}

#feedback-box {
  border: 1px solid grey;
  width: 340px;
  background-color: rgb(199, 232, 245);
  padding: 2%;
  margin-top: 20px;
  display: inline-block;
  margin-left: 15px;
}

#query-form {
  width: 80%;
  float: left;
  margin-left: -200px;
}

#user-map-container {
  width: 100%;
  margin-left: 350px;
  margin-top: auto;
}

#map-warning-container {
  font-family: sans-serif, Arial;
  font-size: 14px;
}

#location-input {
  background-color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 10px 11px 10px 13px;
  width: 250px;
}

#map {
  height: 300px;
  width: 600px;
  margin-left: auto;
  display: 'none';
}

#sign-in-segment {
  width: 100%;
  text-align: center;
}

#sign-in-button {
  display: inline-block;
}

#sign-out-button {
  background-color: white;
  color: #636261;
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  margin: 6px;
  border: 1px solid #aaaaaf;
}

#sign-out-button:hover {
  cursor: pointer;
}
