.text-content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
}

li {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: -15px;
}

.place-container {
  border: 1px solid grey;
  width: 400px;
  background-color: rgb(197, 235, 197);
  margin-top: 20px;
}

#map-container {
  border: thin solid black;
  height: 400px;
  width: 350px;
}

#feedback-box {
  border: 1px solid grey;
  width: 270px;
  background-color: rgb(199, 232, 245);
  padding: 2%;
  margin-top: 20px;
  display: inline-block;
  margin-left: 15px;
}

.form-element-toolbar {
  margin: 10px;
}

.form-element-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.form-element-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 8px 15px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
  margin: 2px;
}

.form-element-toolbar label:hover {
  background-color: rgb(219, 246, 248);
}

.form-element-toolbar input[type="radio"]:checked + label {
  background-color: rgb(144, 214, 226);
  border-color: #287ec7;
}

.form-element-toolbar input[type="checkbox"]:checked + label {
  background-color: rgb(144, 214, 226);
  border-color: #287ec7;
}

.form-button {
  background-color: rgb(144, 178, 243);
  width: 200px;
  padding: 10px;
  font-size: 15px;
}

.form-button:hover {
  background-color: rgb(78, 136, 243);
}

#location-input {
  background-color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 10px 11px 10px 13px;
  width: 250px;
}

#map {
  height: 300px;
  width: 600px;
  margin-left: auto;
  display: 'none';
}

.submit {
  background-color: rgb(197, 235, 197);
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
  width: 150px;
  padding: 5px;
  background-color: rgb(228 231 232);
  margin-top: 10px;
}
